@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
body {
  font-family: "Michroma", sans-serif;
  background: #1c3038;
  color: white;
}

a {
  color: white;
}
/*
h1 {
  color: rgb(222, 115, 9);
  font-weight: 700;
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
}
.container_header {
  display: grid;
  justify-items: stretch;
  align-items: center;
  padding: 20px 50px 0px;
 
}*/

.header_accueil {
  display: grid;
  grid-template-columns: repeat(1fr);
}

/*debut caroussel */
.carousel_container {
  display: grid;
  align-items: center;
  max-height: 100%;
  .carousel_items,
  .controls {
    grid-area: 1/1/2/2;
  }
}

.carousel_items {
  overflow: hidden;
  max-height: 100%;
}

.carousel {
  display: flex;
  transition: 0.3s ease-out;

  .api_img {
    width: 100%;
    flex-shrink: 0;
    display: grid;
    align-items: start;
    justify-items: center;
    max-height: 100%;
    object-fit: cover;
  }
}

/*fin caroussel */
.image_text {
  display: grid;
  justify-items: end;
  /*align-items: start;*/
  .image,
  .text {
    grid-area: 1/1/2/2;
  }
}
.image {
  display: flex;
  order: 1;
  img {
    flex-shrink: 0;
  }
}

.text {
  z-index: 2;
  display: grid;
  align-content: space-around;
  justify-items: end;
  width: 30%;
  font-size: 20px;
  //background-color: rgb(255, 191, 0);
}

.carousel_container {
  order: -1;
}

/*.line {
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px dotted white;
}*/
.controls {
  display: flex;
  z-index: 2;
  justify-content: space-between;

  span {
    font-size: 50px;
    color: #468397;
    cursor: pointer;
  }

  span:hover {
    color: white;
  }

  .next {
    opacity: 0.4;
  }
}

.nav-wrapper {
  z-index: 1;
  overflow: hidden;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  height: 50px;
}

.nav-wrapper.open {
  height: 168px;
  background-color: #2e83a4;
}

nav {
  display: grid;
  padding: 10px 20px;
}

.logo {
  width: 150px;
}

.brand,
.burger {
  grid-area: 1 / 1 / 2 / 2;
}

.nav_elmt1 {
  display: grid;
  row-gap: 10px;
  margin-top: 20px;
}

/*debut menu burger*/
.burger {
  width: 40px;
  justify-self: end;
}
.burger > div {
  height: 4px;
  border-radius: 2px;
  background: white;
  margin-bottom: 8px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.open .burger > div:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.open .burger > div:nth-child(2) {
  transform: scaleX(0.1);
  opacity: 0;
}

.open .burger > div:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

/*---PAGE 2 ----*/
.header_page2 {
  background: url(../img/background_page2.png) no-repeat;
  background-size: cover;
  display: grid;
}

.header_page2_container {
  display: grid;
  grid-template-rows: 1fr;
  padding: 20px;
  h2 {
    padding-bottom: 10px;
  }
  .contain1 {
    display: flex;
    justify-content: space-between;
    .img1 {
      width: 48%;
    }
    .text_contain1 {
      width: 40%;
      font-size: 20px;
      h1 {
        font-size: 30px;
      }
    }
  }
  .contain2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    .persos {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      .hide {
        display: none;
      }
    }
    .info {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/****RESPONSIVE****/

@media (min-width: 760px) {
  .all_container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
  }
  .burger {
    display: none;
  }

  .nav-wrapper {
    height: 85px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }

  .nav_elmt1 {
    display: flex;
    gap: 20px;
  }

  /*Header*/
  .header_accueil {
    display: grid;
    grid-template-columns: 7fr 5fr;
    //background-color: pink;
    align-items: start;
    img {
      max-height: 100%;
    }
  }

  /*.img {
    max-height: 100%; 
    object-fit: cover;
    width: 100%; 
  }*/

  .image {
    order: -1;
  }

  .carousel_container {
    order: 1;
  }

  /*---PAGE2---*/
  .header_page2_container {
    /*display: grid;
    grid-template-columns: 5fr 7fr;*/
    display: grid;
    grid-template-rows: 1fr;
    padding: 20px;
    .contain2 {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: nowrap;
    }
  }
}

@media (min-width: 600px) {
  .header_page2_container {
    /*display: grid;
    grid-template-columns: 5fr 7fr;*/
    display: grid;
    grid-template-rows: 1fr;
    padding: 20px;
    .contain2 {
      .persos {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(5, 1fr);
        .hide {
          display: block;
        }
      }
    }
  }
}

/* 
display: grid;
grid-auto-flow: column
overflow-x : scroll;
scroll-snap-type: x mandatory

-----

endants: 
donner : un width*/
